
 <style type="text/css">
    [nav-view-transition="ios"] [nav-view] {
  box-shadow: none !important; }
  </style>
<ion-view hide-nav-bar="false" style = "background: url(img/background_fence.png) no-repeat center center fixed">
  <ion-nav-bar>
   <ion-nav-back-button></ion-nav-back-button>
</ion-nav-bar>
  <ion-content>
 <!-- <div class="col text-right paddin-top-5 padding-right-5">
      <a  ng-click="openLink()" ><img src="img/group_2.png"  class = "img-responsive"></a>
   </div> -->
   <div class="card" style = "margin-top:40px">
    <div class="item  item-text-wrap" style = "color:#002E6E">
        <span  class = "font-16"> <b><i class="ion-ios-email-outline"></i> Email</b></span></br>
      <span class = "font-16" style = "margin-left:17px">info@nvpfence.com</span>
    </div>

   <div class="item  item-text-wrap" style = "color:#002E6E">
        <span  class = "font-16"> <b><i class="ion-iphone"></i> Tel/fax</b></span></br>
      <span class = "font-16" style = "margin-left:17px"><b> T:&nbsp</b>435-623-2750</span>
      <span class = "font-16" style = "margin-left:17px"><b> F:&nbsp</b>435-623-2750</span>
    </div>
  
  </div>


   <div class="card">
    <div class="item  item-text-wrap" style = "color:#002E6E">

      <div class = "row">
        <div class = "col-50">
          <span  class = "font-16"> <b><i class="ion-ios-location-outline"></i> Street Address</b></span></br>
          <span class = "font-16" style = "margin-left:17px"> 1277 N. 200 W. </span></br>
          <span class = "font-16" style = "margin-left:17px"> Nephi, Utah 84648</span>
        </div>
        <div class = "col-50">
          <span  class = "font-16"> <b><i class="ion-clipboard"></i> Mailing Address</b></span></br>
            <span class = "font-16" style = "margin-left:17px"> P.O. Box 151 </span></br>
            <span class = "font-16" style = "margin-left:17px"> Nephi, Utah 84648</span>
        </div>
      </div>

    </div>
    <div class="item  item-text-wrap" style = "color:#002E6E">
    <div class = "row" ng-click="openLink()">
     <span  class = "font-16"> <b><i class="ion-ios-world-outline"></i>&nbsp;</span>
      <span class = "font-16">www.nvpfence.com</span></b>
  </div>
</div>
    </div>

    

  </div>
  

  
        <!-- <div class = "col">
          <div class="item  item-text-wrap" style = "color:#002E6E">
             <span  class = "font-16"> <b><i class="ion-email"></i> Mailing Address</b></span></br>
            <span class = "font-16" style = "margin-left:17px"> P.O. Box 151 </span></br>
            <span class = "font-16" style = "margin-left:17px"> Nephi, Utah 84648</span>
        </div> -->


   
  </ion-content>
</ion-view>
