
<ion-view  scroll="false">
<ion-nav-bar>
  <ion-nav-back-button class="button-clear">Videos
<!--   <ion-nav-back-button>c</ion-nav-back-button> -->
   <!--  <i class="ion-arrow-left-c"></i>  -->
  </ion-nav-back-button>
</ion-nav-bar>
  <ion-content>
<section class="video" ng-video>
  <video vi-screen Meta controls autoplay style = "width:100%;height:100%"></video>
  <section vi-controls class="controls">
               <span vi-controls-play title="Play" class="glyphicon glyphicon-play"></span>
               <span vi-controls-pause title="Pause" class="glyphicon glyphicon-pause"></span>
           </section>

</section>
     <!-- <video controls class="video_content"  preload="none"  ng-attr-poster="{{poster}}" ng-click ="playVideo()">
      <source ng-src="link" type="video/mp4" >
    </video> -->
  </ion-content>
</ion-view>
