 <style type="text/css">
    [nav-view-transition="ios"] [nav-view] {
  box-shadow: none !important; }
  .fullview_bottom_text{
  	top:45px!important;
  }
  .bar .bar-header{
    border:none!important;
    z-index: 0!important;
  }
  </style>
<ion-view  hide-nav-bar="true">
<ion-nav-bar class="bar-positive">
 <ion-nav-back-button>Fences</ion-nav-back-button>
  <!-- <ion-nav-back-button class="button-clear">
    <i class="ion-arrow-left-c"></i> Back
  </ion-nav-back-button> -->
</ion-nav-bar>

 <ion-content>
  <ion-slide-box  show-pager="true" show-pager="false">

    <ion-slide ng-repeat= "val in imageSlider" >
 	  <img ng-src = "{{val.image}}" width="100%" height="100%"/>
 	   <div class="fullview_bottom_text" ng-bind = "val.text">Test</div>
  </ion-slide>
 
  </ion-slide-box>
  </ion-content>
</ion-view>

