 <style type="text/css">
    [nav-view-transition="ios"] [nav-view] {
  box-shadow: none !important; }

 .buttons .hide {
  display: block; 
}
  </style> 
 
<ion-view  hide-nav-bar="true" style = " background: url(img/background_choose.png) no-repeat center center fixed">
 <ion-nav-bar >          
    <ion-nav-back-button></ion-nav-back-button>
    <ion-nav-buttons side="left">
</ion-nav-bar>
  <ion-content>
   <div class="col text-right paddin-top-5 padding-right-5">
   <a  ng-click="openLink()" ><img src="img/group_2.png" class="" height="50" width = "60" class = "img-responsive"></a>
   </div>
   <div class= "row" style= "margin-top:-55px">
   		<div class = "col text-center">
    		<img src="img/nvplogo.png" class="col-centered"  class = "img-responsive">
   		</div>
   </div>

  <div class= "row" ng-repeat="val in videoData track by $index"">

    <div class="row" ng-if="$even" style="position: relative;">
        <div class="col text-center" style="position: relative;">
         <img class = "category_thumb" ng-src="{{videoData[$index].image}}"  ng-click = "onPlay('{{videoData[$index].link}}')" >   
       </div>
     
        <div class="col text-center" style="position: relative;"> 
         <img class = "category_thumb" ng-src="{{videoData[$index+1].image}}"  ng-click = "onPlay('{{videoData[$index+1].link}}')"  >
      </div>
    </div>
</div>

 <div class= "row margin-top-10 margin-bottom-10">
   <div class = "col">
  <div class = "text-center font-15 padding-10 nvp_history_btn" ng-click = "plasyHistoryVideo()">NVP History
  </div>
   </div>

</div>

  </ion-content>
</ion-view>

  